:root {
  --color-primary: #ad8cae;
  --color-secondary: #eddaeb;
  --color-tertiary: #e5e9f0;
  --color-text: #2e3440;
  --color-error: #af1900;
}

.App {
  color: var(--color-text);
}

h1,
h2,
h3,
h4 {
  font-weight: lighter;
}
